POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=authdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
JWT_SECRET=longandsecuresecretkey
JWT_ISSUER=AuthAPI
JWT_AUDIENCE=AuthClient
JWT_EXPIRATIONDAYS=7